.albums {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 2rem;
  gap: 2rem;
  border-radius: 5px;
  margin-top: 3rem;
}

@media screen and (max-width: 1400px) {
  .albums {
    width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  .albums {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .albums {
    width: 300px;
  }
}
