.albums {
  width: 100vw;

  &__container {
    margin-left: 300px;
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 1500px;
  }
}

@media screen and (max-width: 550px) {
  .albums {
    &__container {
      margin-left: 0px;
      display: flex;
      justify-content: center;
    }
  }
}
