@mixin hamburger-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #444;
  left: 0;
}

.hamburger {
  position: absolute;
  top: 20px;
  width: 100%;
  border: none;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  &__container {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  &__inner {
    @include hamburger-line;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &::before,
    &::after {
      @include hamburger-line;
      content: '';
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
}

.hamburger-active {
  right: 0;
  width: auto;
  .hamburger__inner {
    background-color: transparent;

    &::before {
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 5px rgb(221, 221, 221);
  height: 100vh;
  width: 80px;
  z-index: 10;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);

  &__logo-container {
    width: 80px;
    margin-top: 150px;
    transition: all 0.3s ease-in;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 20px;
    width: 100%;

    &__link {
      display: flex;
      color: #444;
      text-decoration: none;
      font-weight: 500;
      justify-content: center;
      transition: all 0.1s ease-in;
      width: 100%;
      font-size: 1.1rem;
    }
    &__text {
      position: absolute;
      opacity: 0;
      transition: all 0.1s ease-in;
    }
    &__item {
      list-style: none;
      transition: all 0.3s ease-in;
      padding: 1rem 0;
      cursor: pointer;
      &:hover {
        background-color: var(--color-primary);
      }

      &-active {
        border-left: 6px solid blueviolet;

        background-color: var(--color-primary);

        .nav__list__text {
          color: blueviolet;
          transition: all 0.4s ease-in;
        }

        .nav__list__link {
          svg {
            color: blueviolet;
          }
        }
      }
    }

    &__link {
      display: flex;
      gap: 1rem;
      align-items: center;
      color: #444;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.4s ease-in;
    }

    svg {
      color: #444;
      font-size: 1.8rem;
    }
  }
  &-closed {
    transition: all 0.3s ease-in;
    width: 250px;

    .nav__logo-container {
      width: 180px;
      transition: all 0.3s ease-in;
    }
    .nav__list {
      margin-top: 0;
      transition: all 0.3s ease-in;
    }

    .nav__list__link {
      margin-left: 2.5rem;
      justify-content: start;
      transition: all 0.3s ease-in;
    }
  }
  &-closed &__list__text {
    position: static;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
}

@media screen and (max-width: 550px) {
  .hamburger {
    display: none;
  }
  .nav {
    height: 5rem;
    flex-direction: row;
    width: 100vw;

    &__logo-container {
      display: none;
    }
    &__list {
      flex-direction: row;
      margin: 0;
      width: 100vw;
      justify-content: center;
      padding: 0;

      &__item {
        padding: 1.3rem;
      }
    }
  }
}
