.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  border: none;
  background-color: aliceblue;
  font-size: 1.1rem;
  padding: 10px 30px;
  border-radius: 10px;
}
